
<h1>JSExpert Angular Chat Bot</h1>

<ng-container *ngFor="let message of messages">
  <div class=" message"
    [ngClass]="{ 'from': message.author === 'bot',
                'to': message.author === 'user' }">
    {{message.content}}
  </div>|
</ng-container>

<label *ngIf="messages.length == 0; else dialoglnfo" for="nameField">Bame сообщение</label>
<input [(ngModel)]="value" (keyup.enter)="sendMessage()" type="text">
<button (click)= "sendMessage()">Отправить</button>
I
<ng-template #dialoglnfo>
  <span [className]="'float-right'">Bcero сообщений: {{messages.length}}</span>
</ng-template>
